<div class="d-flex flex-column p-3 bg-white border-end" style="width: 250px; height: 100vh;">
  <h5 class="mb-4">Projects</h5>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a href="#" class="nav-link active">My Scrum Project</a></li>
    <li class="nav-item"><a href="#" class="nav-link">View all projects</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Teams</a></li>
  </ul>
</div>
